@import "tailwindcss";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f5f1ea;
  color: #111111;
  font-family: Inter, sans-serif;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}